<html>
<head>

<link rel="stylesheet" href="static/styles/game.css" />
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous" />

</head>
<body>

<script src="https://unpkg.com/react@17/umd/react.development.js"
    crossorigin="true"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
    crossorigin="true"></script>

<div id="root"></div>
<script src="static/react_components/game.js"></script>

</body>
</html>
